[REPORTS]

# Activate the evaluation score.
score=no

[FORMAT]

# Maximum number of characters on a single line.
max-line-length=120

[DESIGN]

# Minimum number of public methods for a class (see R0903).
min-public-methods=0

# Default: 7.
max-attributes=14

[MASTER]
extension-pkg-whitelist=PyQt6
