[ged2dot]
# Input GEDCOM file.
input = Alice-Bob.ged
# Ouptut Graphviz file.
output = test.dot
# Root family: you'll need to adjust this most probably.
rootfamily = F1
# Number of cycles to show neighbour families: you can start with 0 and then increase it as you
# like.
familydepth = 4
# Directory containing 100x100px "First Last YYYY.jpg" images. If the path is not absolute, it'll be
# relative to the input file.
imagedir = images
# 'little' is First first, 'big' is Last first.
nameorder = little
# 'both' is the default, also possible: 'child' (to only show children of root)
direction = both
