coverage==7.5.4
flake8==7.1.0
mypy==1.10.1
pygraphviz==1.13
pyinstaller==6.9.0
pylint==3.2.5
# 6.6.1 fails `python3 -c 'from PyQt6 import QtGui'` with: undefined symbol: _ZN5QFont11tagToStringEj
pyqt6==6.5.0
