name: tests
on:
  push:
    branches-ignore:
      - 'private/**'
  pull_request:
    branches-ignore:
      - 'private/**'
  create:
    branches-ignore:
      - 'private/**'
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v5.0.0
    - uses: actions/setup-python@v6.0.0
      with:
        python-version: 3.13
    - name: Run make check
      run: |
        tools/ci-build.sh
    - uses: softprops/action-gh-release@v2.4.1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: dist/*.oxt
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  windows:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v5.0.0
      - uses: actions/setup-python@v6.0.0
        with:
          python-version: 3.13
      - name: Run make pack
        run: |
          tools/ci-build.ps1
      - uses: softprops/action-gh-release@v2.4.1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: dist/*.msi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
